
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 144rem;
}.halaman-tambah-shipping-comps-xDr {
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  width: 100%;
  overflow: hidden;
  position: relative;
  align-items: flex-end;

  .header-gvY {
    background-color: #4678f3;
    flex-shrink: 0;
    box-sizing: border-box;
    padding: 1.1rem 3.5rem 1.1rem 3rem;
    width: 100%;
    height: 5.9rem;
    display: flex;
    align-items: center;

    .kledo-test-admin-QrY {
      font-family: Roboto, 'Source Sans Pro';
      white-space: nowrap;
      flex-shrink: 0;
      margin-right: 102.3rem;
      font-size: 2.4rem;
      font-weight: 700;
      line-height: 1.1725;
      color: #ffffff;
    }
    .group-1-jP2 {
      height: 100%;
      display: flex;
      align-items: center;
      flex-shrink: 0;

      .ellipse-1-UrQ {
        vertical-align: top;
        flex-shrink: 0;
        margin-right: 0.4rem;
        width: 4.2rem;
        height: 3.7rem;
        object-fit: contain;
      }
      .tony-stark-chi {
        color: #ffffff;
        font-family: Roboto, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        margin-top: 0.1rem;
        font-size: 1.8rem;
        font-weight: 400;
        line-height: 1.1725;
      }
    }
  }
  .auto-group-edkj-k3E {
    height: 96.5rem;
    position: relative;
    flex-shrink: 0;
    width: 146.2rem;

    .rectangle-4-GnG {
      top: 0;
      border: solid 0.1rem #e0e0e0;
      box-sizing: border-box;
      background-color: #f2f2f2;
      width: 27.2rem;
      height: 96.5rem;
      position: absolute;
      left: 0;
    }
    .group-3-zTN {
      box-sizing: border-box;
      padding: 1.3rem 8.8rem 1.5rem 6.4rem;
      width: 25rem;
      height: 5.2rem;
      position: absolute;
      left: 0;
      top: 91.3rem;
      background-color: #4678f3;

      .group-4-i8U {
        box-sizing: border-box;
        padding-left: 0.3rem;
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;

        .log-out-1-fJc {
          margin-right: 1.3rem;
          width: 1.8rem;
          height: 1.8rem;
          position: relative;
          object-fit: contain;
          vertical-align: top;
          flex-shrink: 0;
        }
        .log-out-bi4 {
          font-family: Roboto, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          margin-bottom: 0.2rem;
          font-size: 1.8rem;
          font-weight: 700;
          line-height: 1.1725;
          color: #ffffff;
        }
      }
    }
    .group-2-8CC {
      border-bottom: solid 0.1rem #e0e0e0;
      box-sizing: border-box;
      padding: 0 3rem;
      width: 25rem;
      height: 4.4rem;
      position: absolute;
      left: 0;
      top: 0.9rem;

      .group-3-ewE {
        height: 2.7692rem;
        display: flex;
        align-items: center;
        box-sizing: border-box;
        padding: 0.231rem 0rem 0.069rem 0.3rem;
        width: 12.2rem;

        .home-1-apt {
          position: relative;
          object-fit: contain;
          vertical-align: top;
          flex-shrink: 0;
          margin: 0rem 1.3rem 0.162rem 0rem;
          width: 1.8rem;
          height: 2.3077rem;
        }
        .dashboard-huW {
          line-height: 1.1725;
          color: #828282;
          font-family: Roboto, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          margin-top: 0.2692rem;
          font-size: 1.8rem;
          font-weight: 200;
        }
      }
    }
    .group-2-R4p {
      border-bottom: solid 0.1rem #e0e0e0;
      box-sizing: border-box;
      padding: 0rem 5.4rem 0rem 3rem;
      width: 25rem;
      height: 3.9rem;
      position: absolute;
      left: 0;
      top: 6.6rem;

      .group-3-9Fi {
        box-sizing: border-box;
        padding-left: 0.1rem;
        width: 100%;
        height: 2.4rem;
        display: flex;
        align-items: center;

        .truck-1-VaU {
          vertical-align: top;
          flex-shrink: 0;
          margin-right: 1.1rem;
          width: 2.2rem;
          height: 1.8rem;
          position: relative;
          object-fit: contain;
        }
        .shipping-comps-2qJ {
          color: #2f80ed;
          font-family: Roboto, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          margin-bottom: 0.2rem;
          font-size: 1.8rem;
          font-weight: 200;
          line-height: 1.1725;
        }
      }
    }
    .rectangle-6-Yoe {
      height: 96.5rem;
      position: absolute;
      left: 24.8rem;
      top: 0;
      background-color: #bdbdbd;
      width: 119.2rem;
    }
    .rectangle-7-6KN {
      height: 88.9rem;
      position: absolute;
      left: 27.9rem;
      top: 3.4rem;
      box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
      background-color: #ffffff;
      border-radius: 1.8rem;
      width: 112.2rem;
    }
    .nama-z9r {
      height: 1.7rem;
      position: absolute;
      left: 31.7rem;
      top: 14.1rem;
      font-weight: 700;
      line-height: 1.1725;
      color: #828282;
      width: 3.8rem;
      font-family: Roboto, 'Source Sans Pro';
      white-space: nowrap;
      font-size: 1.4rem;
    }
    .nama-harus-diisi-VcQ {
      left: 31.7rem;
      top: 22.3rem;
      font-size: 1.4rem;
      font-weight: 700;
      line-height: 1.1725;
      width: 10.6rem;
      height: 1.7rem;
      position: absolute;
      color: #eb5757;
      font-family: Roboto, 'Source Sans Pro';
      white-space: nowrap;
    }
    .tambah-shipping-comps-bvL {
      font-family: Roboto, 'Source Sans Pro';
      white-space: nowrap;
      width: 27rem;
      position: absolute;
      left: 31.7rem;
      top: 6.1rem;
      font-weight: 700;
      line-height: 1.1725;
      height: 2.9rem;
      font-size: 2.4rem;
      color: #000000;
    }
    .rectangle-8-W1i {
      width: 23.9rem;
      position: absolute;
      left: 31.7rem;
      border-radius: 0.8rem;
      background-color: #ffffff;
      height: 3.8rem;
      top: 17.1rem;
      border: solid 0.1rem #828282;
      box-sizing: border-box;
    }
    .group-5-zha {
      color: #ffffff;
      border-radius: 0.8rem;
      white-space: nowrap;
      justify-content: center;
      background-color: #4678f3;
      height: 3.6rem;
      position: absolute;
      left: 31.7rem;
      font-size: 1.4rem;
      line-height: 1.1725;
      width: 9.4rem;
      top: 26.1rem;
      font-family: Roboto, 'Source Sans Pro';
      font-weight: 700;
      display: flex;
      align-items: center;
    }
  }
}
